<div class="p-5 rounded bg-white mt-4 flex flex-wrap items-center gap-4">
        <% skills.forEach(skill => { %>
            <label for="<%= skill.percent %>" class="btn btn-primary modal-button"><%= skill.name %> <%= skill.percent %>% </label> 
            <input type="checkbox" id="<%= skill.percent %>" class="modal-toggle"> 
            <div class="modal">
            <div class="modal-box flex items-center justify-center flex-col">
                <p class="text-uppercase text-xl">Do you want to delete it ?</p> 
                <div class="mt-5">
                <label for="<%= skill.percent %>" onclick="delete_skill('<%= skill._id %>')" class="btn btn-sm btn-error">Delete</label> 
                <label for="<%= skill.percent %>" class="btn btn-sm">Close</label>
                </div>
            </div>
            </div>
        <% }) %>
    <form onsubmit="add_skills(event)" class="flex gap-2 flex-wrap">
        <input name="name" class="rounded" type="text" placeholder="skills" required>
        <input name="percent" class="rounded w-16" min="1" max="100" type="number" placeholder="0" required>
        <button type="submit" class="w-10 flex items-center justify-center focus:outline-none border-2 hover:border-primary rounded"><i class="fas fa-plus"></i></button>
    </form>
</div>